nav {
    background-color: #ffe4c4;
    display: flex;
    align-items: center;
   
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul {
display: flex;
gap: 10px;
align-items: center;
list-style-type: none;
}

nav h1 {
    color: black;
    font-size: 1.5rem;

}